/* Tree */
.gwt-Tree {
  font-family: Verdana, Tahoma;
}
.gwt-Tree .gwt-TreeItem {
  font-size: 13px;
}
.gwt-Tree .gwt-TreeItem-selected {
  background: #ffee99;
}

/* Default buttons */
.gwt-button {
  background: #99cc66;
  color: #ffffff;
  font-size: 14px;
  border: 1px solid #ffffff;
  border-style: rounded;
  font-family: Verdana, Tahoma;
}
.sel-button {
  background: #668833;
  color: #ffffff;
  font-size: 14px;
  border: 1px solid #ffffff;
  border-style: rounded;
  font-family: Verdana, Tahoma;
}
.gwt-Button:active {
}
.gwt-Button:hover {
}
.gwt-Button[disabled] {
}
.gwt-Button[disabled]:hover {
}

/* Custom Buttons */
.supp-button {
  background: #ffdd88;
  color: #000000;
  font-size: 14px;
  border: 1px solid #ffffff;
  border-style: rounded;
  font-family: Verdana, Tahoma;
}
.not-button {
  background: ffffff;
  color: #000000;
  font-size: 14px;
  border: 1px solid #ffdd88;
  font-family: Verdana, Tahoma;
  padding: 1px;
}

/* Dialog Box */
.gwt-DialogBox {
  border: 2px outset;
  background-color: white;
  cursor: default;
}
.gwt-DialogBox .Caption {
  font-family: Verdana, Tahoma, Arial;
  background-color: #99dd88;
  padding: 3px;
  margin: 2px;
  font-weight: bold;
  cursor: default;
  font-size: smaller;
}
.gwt-DialogBox .Contents {
  padding: 10px;
  background-color: #ffffff;
}

/* Popup Panel */
.gwt-PopupPanel {
  background: #ffffff;
  border: 1px solid #000000;
  font-family: Georgia;
  font-size: 13px;
  padding: 3px;
}

/* Custom Text Area */
.text-area {
  padding: 2px;
  border: 1px solid #000000;
  background-image: url(/pj/images/logo_small.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  font-family: Verdana, Tahoma, Arial;
  font-size: 14px;
}

/* Text Box */
.gwt-TextBox {
  padding: 2px;
  font-family: Verdana, Tahoma, Arial; 
  font-size: 14px;
}

/* Console */
.console {
  background: #black;
}

.whitebg {
  bacground: #ffffff;
}



.pink{
      background-color: #ffffff;
      border: 3px solid #ff00cc;
      border-style: outset;
      cursor: default;
}
.green{
      background-color: #ffffff;
      border: 3px solid #00ff00;
      border-style: inset;
      cursor: default;
}
.white{
      background-color: #ffffff;
      border: 3px solid #ffffff;
      cursor: default;
}
.MOUSE{
      background-color: #ffffff;
}



.panel {
  background-color: #80ff80;
  font-family: Tahoma, Helvetica, Arial;
}
.menu {
  cursor: pointer;
}
.footer {
  font-family: Palatino, Georgia, Times New Roman, Times;
  font-style: italic;
  font-size: 11px;
  color: #666666;
}