<html>

<body>

<div style="width:600px"><font face="Palatino Linotype, Times New Roman">
<img src="{{MEDIA_URL}}/img/header.jpg" alt="Pairgramming ...for fully collaborative paired programming from wherever you choose" id="header" style="" WIDTH="450px" />
<br><br>

<h2> Delete Account </h2>
This permanently deletes your account, no information will be recoverable.
<p>

<form action="" method="POST">
Are you SURE you want to delete your account?
<input type="submit" value="Delete my account!" />
</form>

</font></div>
</body>

</html>