<html>

<body>

<div style="width:600px"><font face="Palatino Linotype, Times New Roman">
<img src="{{MEDIA_URL}}/img/header.jpg" alt="Pairgramming ...for fully collaborative paired programming from wherever you choose" id="header" style="" WIDTH="450px" />
<br><br>
<p>Please follow the directions below to change your password.</p>
<br>


<form action="" method="POST">
<table>
{{ form.as_table }}
</table>
<input type="submit" value="Submit" />
</form>

</font></div>
</body>

</html>