<html>

<body>

<div style="width:600px"><font face="Palatino Linotype, Times New Roman">
<img src="{{MEDIA_URL}}/img/header.jpg" alt="Pairgramming ...for fully collaborative paired programming from wherever you choose" id="header" style="" WIDTH="450px" />
<br><br>
<p>Hey, genius!  Welcome to Pairgramming, where all your online paired programming dreams come true.  Please give us the following basic information so we can get you allll set up, k?</p>
<br>


<form action="" method="POST">
<table>
{{ form.as_table }}
</table>
<input type="submit" value="Submit" />
</form>
<p>Already registered? <a href="/accounts/login/">Login Now!</a></p>

</font></div>

</body>

</html>