{% extends "global/base.html" %}

{% block content %}
<h3>Frequently Asked Questions</h3>

<h4>Account & Project Management</h4>

<p><b>Q.</b> I forgot my password, do I have to make a new account?<br>
<b>A.</b> No, you can click the "Reset password" navigation button on the left side, enter your e-mail address, and we will reset your password and send you an e-mail with a new temporary password so you can get into your account and promptly change your password to something you will remember. </p>

<p><b>Q.</b> Can I delete or cancel my account?<br>
<b>A.</b> FIXME</p>

<p><b>Q.</b> Can I use Pairgramming without setting up any connections? <br>
<b>A.</b> No, we require that you have a connection set up with at least one development server. FIXME[make this more elegant, explain a reason why perhaps] </p>

<p><b>Q.</b> Can I have my project files?  I need to turn them in / edit them on my local system / want to make a copy for backup... <br>
<b>A.</b> We store a backup copy of all of your project files, so there are always at least two (yours and ours) relatively recent copies already.  But yes, you can easily get your files by FIXME. <br>
You can also upload files to a new project if you started working on the project elsewhere.  For detailed instructions, see the relevant question in the Pairgramming Application section below. </p>

<h4>The Pairgramming Application</h4>

<p><b>Q.</b> Can both people edit text in the editor or use the console at the same time?  Doesn't that get confusing?<br>
<b>A.</b> No, it does not get confusing because we don't allow both people to edit the editor and console at the same time.  We followed the paired programming model truly, so that one person (who we call the driver) is editing and typing out the code, and the other person (who we call the passenger) is navigating and helping the driver design. </p>

<p><b>Q.</b> How is this different from Google Docs?<br>
<b>A.</b> Pairgramming provides much faster synchronization than Google Docs, so you see changes your partner is making in real-time.  While both users can edit the file in Google Docs, our console and text editor allow only the driver to make changes, while the passenger watches.  Finally, we have a full functionality console which you can use to work on any SSH-able development server.  Also, our logo is cuter. </p>

<p><b>Q.</b> How can I upload existing files to a project? <br>
<b>A.</b> FIXME?Simply click the "Files" menu button at the top of the application, then click "Upload a File" in the secondary menu buttons which appear to the right of the main menu. </p>

<h4>Miscellaneous</h4>

<p><b>Q.</b> What kinds of questions go in the miscellaneous section? <br>
<b>A.</b> Good question, FIXME. </p>

<p><b>Q.</b> <br>
<b>A.</b> </p>

<p><b>Q.</b> <br>
<b>A.</b> </p>

{% endblock %}