body {
  background-color: #lightpink;
  background: url("Aqua_Pears_bg.jpg") 50% 50% no-repeat fixed;
  font-family: Cambria, Garamond;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
h1 { text-align: center; }
h2 { text-align: center; }
h4 { text-align: left; }
p { text-align: left; }
blockquote { text-align: left; }