<html>

<body>

<div style="width:600px"><font face="Palatino Linotype, Times New Roman">
<img src="{{MEDIA_URL}}/img/header.jpg" alt="Pairgramming ...for fully collaborative paired programming from wherever you choose" id="header" style="" WIDTH="450px" />

<p>
<br>
Welcome to Pairgramming, where all your interactive online paired programming dreams come true.
</p>


{% if user.is_authenticated %}<p>
<br>
Please click "Log in" to log in, or click "Create new account" to create a new account.
</p>
<br>
<p><a href="/accounts/logout/"><img src="{{MEDIA_URL}}/img/Logout_button.jpg" width="200px"></a></p>
<p><a href="/accounts/passwordchange/"><img src="{{MEDIA_URL}}/img/Change_password_button.jpg" width="200px"></a></p>
<p><a href="/accounts/delete/"><img src="{{MEDIA_URL}}/img/Delete_account_button.jpg" width="200px"></a></p>
<p><a href="mailto:pairgramming@gmail.com"><img src="{{MEDIA_URL}}/img/Email_us_button.jpg" width="200px"></a></p>


{% else %}
<p>
<br>
Please click "Log in" to log in, or click "Create new account" to create a new account.  If you've forgotten your password and need to reset it, click "Reset my password".
<br><br>
If you have any questions or comments, don't hesitate to send us an e-mail; you can click "E-mail us" or send an e-mail to pairgramming@gmail.com.
</p>
<br>
<p><a href="/accounts/login/"><img src="{{MEDIA_URL}}/img/Login_button.jpg" width="250px"></a></p>
<p><a href="/accounts/register/"><img src="{{MEDIA_URL}}/img/Create_new_account_button.jpg" width="250px"></a></p>
<p><a href="/accounts/passwordreset/"><img src="{{MEDIA_URL}}/img/Reset_password_button.jpg" width="250px"></a></p>
<p><a href="mailto:pairgramming@gmail.com"><img src="{{MEDIA_URL}}/img/Email_us_button.jpg" width="250px"></a></p>


{% endif %}

</font></div>
</body>

</html>