{% extends "global/base.html" %}

{% block content %}
{% if user.is_authenticated %}
<p>
<br>
Welcome to Pairgramming, where all your interactive online paired programming dreams come true.
</p>
<p>
<br>
If you want to log out, click "Logout".  You can change your password by clicking "Change my password".  You can delete your account by clicking "Delete my account" but you probably don't want to do that.  As usual, if you have any comments or questions, please click 'Contact us' or send an e-mail to pairgramming@gmail.com.
</p>
{% else %}
<p>
<br>
Please click "Log in" to log in, or click "Register" to create a new account.  If you've forgotten your password and need to reset it, click "Reset my password".
<br><br>
If you have any questions or comments, don't hesitate to send us an e-mail; you can click "Contact us" or send an e-mail to pairgramming@gmail.com.
</p>
<br>
{% endif %}

{% endblock %}