{% extends "global/base.html" %}

{% block content %}
{% if user.is_authenticated %}
<p>
<br>
Welcome to Pairgramming, where all your interactive online paired programming dreams come true.
</p>
<p>
<br>
If you want to log out, click "Logout".  You can change your password by clicking "Change my password".  You can delete your account by clicking "Delete my account" but you probably don't want to do that.  As usual, if you have any comments or questions, please send us an e-mail (click or to pairgramming@gmail.com).
</p>
<br>
<p><a href="/accounts/logout/"><img src="{{MEDIA_URL}}/img/Logout_button.jpg" width="250px"></a></p>
<p><a href="/accounts/passwordchange/"><img src="{{MEDIA_URL}}/img/Change_password_button.jpg" width="250px"></a></p>
<p><a href="/accounts/delete/"><img src="{{MEDIA_URL}}/img/Delete_account_button.jpg" width="250px"></a></p>
<p><a href="/accounts/servers/">Setup Server Stuff!</a></p>
<p><a href="/accounts/toy/">Play with the toy console.</a></p>
<p><a href="mailto:pairgramming@gmail.com"><img src="{{MEDIA_URL}}/img/Email_us_button.jpg" width="250px"></a></p>



{% else %}
<p>
<br>
Please click "Log in" to log in, or click "Create new account" to create a new account.  If you've forgotten your password and need to reset it, click "Reset my password".
<br><br>
If you have any questions or comments, don't hesitate to send us an e-mail; you can click "E-mail us" or send an e-mail to pairgramming@gmail.com.
</p>
<br>
<p><a href="/accounts/login/"><img src="{{MEDIA_URL}}/img/Login_button.jpg" width="250px"></a></p>
<p><a href="/accounts/register/"><img src="{{MEDIA_URL}}/img/Create_new_account_button.jpg" width="250px"></a></p>
<p><a href="/accounts/passwordreset/"><img src="{{MEDIA_URL}}/img/Reset_password_button.jpg" width="250px"></a></p>
<p><a href="mailto:pairgramming@gmail.com"><img src="{{MEDIA_URL}}/img/Email_us_button.jpg" width="250px"></a></p>

{% endif %}

{% endblock %}