html, body {
  height: 100%;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: #001100;
  font-family: "Palatino Linotype", Times, serif;
}

a img {
	border: none;
}

#outer {
	width: 80%;
	margin: 0px auto;	
	background-color: white;
	display: block;
	overflow: auto;
	min-height: 100%;
}

/* HEADER */
#header {
	text-align: center;	
}

/* MAIN CONTENT */
#content-main {
	margin-left: 225px;	
}

/* PROJECT LISTING TABLE */
.project-list {
	border-collapse: collapse;
}

.project-list th,
.project-list td {
	border: thin solid gray;
	text-align: center;
	padding: 0px 5px;	
}

.project-list th {
	font-size: small;
}

.project-list td {
	font-size: smaller;
}

/* SERVER LISTING TABLE */
#server-list {
	border-collapse: collapse;
}

#server-list th,
#server-list td {
	border: thin solid gray;
	text-align: center;
	padding: 0px 5px;	
}

#server-list th {
	font-size: small;
}

#server-list td {
	font-size: smaller;
}

/* PAGINATOR LINKS */
.paginator-nav {
	font-size: small;
	color: #555555;
}
	
/* FOOTER */
#footer {
	font-size: smaller;
	font-style: italic;
	color: gray;
	float: left;
	clear: both;
}

/* LEFT NAVIGATION MENU */
#nav-menu {
	width: 200px;
	float: left;
	clear: none;
	overflow-x: hidden;	
	background-color: #003300;
}

#nav-menu ul {
	padding-left: 0px;
	margin: 0px;	
}

#nav-menu ul li {
	list-style-type: none;
	margin-left: 0px;
	text-align: center;
	background-color: #006600;
	border: thin solid #cccccc;
	border-left: none;
}

#nav-menu ul li a {
	color: #CCCCCC;	
	font-size: smaller;
	text-decoration: none;
	display: block;
}

#nav-menu ul li a:hover {
	background-color: #003300;	
}

#nav-menu h5 {
	color: #ffffff;
	font-weight: bold;	
	text-align: center;
	margin: 5px 0px;
}

/* FLASH MESSAGES */
div.message_success,
div.message_error {
  padding: 10px 10px 10px 35px;
  font-size: 14px;
  margin: 10px 15px;
}

div.message_success {
  background: #fff9d7 url(/admin_media/img/admin/icon_success.gif) no-repeat scroll 10px 10px;
  border: 1px solid #e2c822;
}

div.message_error {
  background: #ffebe8 url(/admin_media/img/admin/icon_error.gif) no-repeat scroll 10px 10px;
  border: 1px solid #dd3c10;
}