{% extends "global/base.html" %}

{% block content %}

<p>Launch your project</p>

<p>
Driver: {% if driver %}{{ driver.email }}{% else %}None{% endif %}<br>
Passenger: {% if passenger %}{{ passenger.email }}{% else %}None{% endif %}<br>
Project #: {{ project.id }}
<p>

{% for ssh in available_servers %}
{% if forloop.first %}
<form action="" method="POST">
SSH Connection:
<select name="server">
{% endif %} 
<option value="{{ ssh.id }}">{{ ssh }}</option>
{% if forloop.last %}
</select>
<br /><input type="submit" value="go" name="go" />
</form>
{% endif %}
{% empty %}
<p>You have not configured any SSH Connections yet. <br />  
You must set up a connection before you can start working on Pairgramming.</p>
<form action="" method="POST">
<input type="submit" value="Launch Anyway" />
</form>
{% endfor %}
{% endblock %}