{% extends "global/base.html" %}

{% block content %}

{% if project_pages %}
<table class="project-list">
<tr>
  <th>Name</th>
  <th>Description</th>
  <th>Course</th>
  <th>Programmers</th>
  <th>Actions</th>
</tr>
{% for project in page.object_list %}
<tr>
  <td>{{ project.name }}</td>
  <td>{{ project.description }}</td>
  <td>
  {% if project.course %}
    {{ project.course }}
  {% else %}
    ---
  {% endif %}
  </td>
  <td>
  {% for programmer in project.programmers.all %}
    {{ programmer.get_full_name }}<br />
  {% endfor %}
  </td>
 <td>
 {% if request.user in project.programmers.all %}
  <a href = "{{ project.launch_url }}">Launch</a> | 
  <a href="{{ project.edit_url }}">Edit</a> |
  <a href="{{ project.leave_url }}">Leave</a>
  {% if project.programmers.all|length == 1 %}
  | <a href="{{ project.delete_url }}">Delete</a>
  {% endif %}
 {% else %}
  <a href="{{ project.join_url }}">Join</a></td>
 {% endif %}
 </tr>
{% endfor %}
</table>
<span class="paginator-nav">
{% print_paginator_links page get_data %}
</span>
{% else %}
<p>There are no public projects</p>
{% endif %}
{% endblock %}