{% extends "global/base.html" %}

{% block content %}

<p>Your RSA keys are: {% if user.profile.has_keys %}VALID{%else%}INVALID{%endif%}.
(<a href="{{ user.get_key_regen_url }}">Generate New Keys</a>)</p>

<table id="server-list">
<tr>
	<th>Connection</th>
	<th>Valid Keys</th>
	<th>Actions</th>
</tr>
{% for server in server_list %}
<tr>
	<td>{{ server.user_name }}@{{ server.server }}</td>
	<td>{{ server.has_valid_keys|yesno:"Yes, No" }}</td>
	<td><a href="{{ server.get_refresh_url }}">Refresh Keys</a> |
		{% if server.has_valid_keys %} 
		<a href="{{ server.get_clear_url }}">Clear Keys</a> |
		{% endif %}
	    <a href="{{ server.get_delete_url }}">Delete</a></td>
</tr>
{% empty %}
<tr>
<td colspan="3">You haven't set up any server connections yet.</td>
</tr>
{% endfor %}
</table>

{% endblock %}